config.managedservers=AdminConsole,maestroServer01
# NodeManager Config
NodeManagerDir="/app/oracle/wls1030/wlserver_10.3/server/bin"
NodeManagerEnvFile="$NodeManagerDir/setWLSEnv.sh"
NodeManagerStartScript="$NodeManagerDir/startNodeManager.sh"

# AdminServer Config
AdminServerDir="/app/oracle/wls1030/user_projects/domains/FAKE_DOMAIN"
AdminServerEnvFile="$AdminServerDir/bin/setDomainEnv.sh"
AdminServerStartScript="$AdminServerDir/startWebLogic.sh"