"""All WebLogic Groups - group.name.X
users = when they log in (for example, through a Web page)
everyone = Every user is a member of this group
Administrators = Any user assigned to the Administrators group is granted the Admin security role by default.
Deployers = Any user assigned to the Deployers group is granted the deploy security role by default.
Operators = Any user assigned to the Operators group is granted the Operator security role by default.
Monitors = Any user assigned to the Monitors group is granted the Monitor security role by default.
"""
admin.hosts=hostname01,hostname02
admin.userName=usernameWeblogic
admin.password=passwordWeblogic
security.realmName=myrealm

total.groups=4
total.username=2

create.user.name.1=user01
create.user.password.1=user01passwd
create.user.description.1=Usuario 01

create.user.name.2=user02
create.user.password.2=user02passwd
create.user.description.2=Usuario 02

group.name.1=Monitors
group.name.2=Deployers
group.name.3=IntegrationMonitors
group.name.4=AppTesters

group.name.1.members=user01
group.name.2.members=user02
group.name.3.members=user01,user02
group.name.4.members=user02